@import '../stylesheets/Explained.css';

.navbar {
     background-color: #FFF;
     color: #000;
     display: flex;
     height: 90px;
     padding: 0 100px;
     width: 100%;
     position: absolute;
     z-index: 4;
     position: fixed;
     box-shadow: rgb(52 75 90 / 8%) 0px 4px 16px;
}
.brand {
     width: 20%;
     line-height: 90px;
     margin-left: 35px;
}
.brand img {
     padding-top: 18px;
     width: 70%;
}
.navigation {
     width: 50%;
     display: flex;
     justify-content: space-around;
     padding: 0 20px;
     margin: auto;
}
.navigation a {
     font-size: 14px;
     line-height: 90px;
     text-decoration: none;
     color: #000;
}
.navigation a:hover {
     cursor: pointer;
     color: #072336;
}
.member {
     width: 20%;
     margin: auto;
     display: flex;
     justify-content: space-around;
}
.member button {
     padding: 0.5rem 2rem;
     border: none;
     border-radius: 25px;
     font-size: 14px;
     color: #FFF;
     transition: .4s ease-out;
}
.member button:hover {
     cursor: pointer;
}
.member .register {
     background-color: #072336;
}
.member .register:hover {
     color: #072336;
     background-color: #FFF;
     border: 1px solid #072336;
}
.member .login {
     background-color: transparent;
     border: 1px solid #072336;
     color: #072336;
}
.member .login:hover {
     background-color: #072336;
     color: #FFF;
     border: none;
}

/* Heading */
.heading {
     width: 100%;
     height: 690px;
     margin-bottom: 8rem;
     background-image: url('../images/design.jpg');
     background-size: cover;
     background-attachment: fixed;
}
.heading::after {
     content: '';
     height: 99%;
     width: 100%;
     background-color: #000;
     position: absolute;
     opacity: .3;
     object-fit: cover;
}
.hero {
     width: 70%;
     position: absolute;
     z-index: 2;
     left: 200px;
     text-align: center;
}
.hero p {
     color: #FFF;
     line-height: 1.8rem;
}
h1.title {
     padding-top: 180px;
     font-size: 82px;
     color: #FFF;
     line-height: 7rem;
}

.calltoaction {
     margin-top: 32px;
     padding: .8rem 2.8rem;
     font-size: 18px;
     border: none;
     font-family: 'Poppins', sans-serif;
     background-color: #5629d3;
     color: #FFF;
     border-radius: 25px;
}
.calltoaction:hover {
     background-color: #072336;
     cursor: pointer;
}

@media screen and (max-width: 992px) {
     .navbar {
          opacity: 1;
          height: 130px;
          width: 100%;
          padding: 0;
     }
     .brand img {
          width: 30%;
          margin-left: -10%;
     }
     .heading {
          height: 600px;
          width: 100%;
          background-position: center center;
     }
     .heading::after {
          width: 100%;
          height: 90%;
     }
     .navbar {
          height: 150px;
          flex-direction: column;
          padding: 5px 30px;
     }
     .brand {
          width: 100%;
          text-align: center;
          font-size: 16px;
          line-height: normal;
     }
     .navigation {
          width: 100%;
          margin: auto;
          justify-content: center;
     }
     .navigation a {
          width: 100%;
          line-height: 10px;
     }
     .member {
          width: 60%;
     }
     .hero {
          width: 100%;
          padding: 0 5px;
          left: 0;
     }
     .hero .title {
          font-size: 38px;
          line-height: 3rem;
     }
     .hero p {
          text-align: justify;
          padding: 20px;
     }
}