* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body {
     margin: 0;
}

/* Import All CSS files */
@import './Header.css';
@import './Explained.css';
@import './SetReminder.css';
@import './OnlineAccess.css';