.footer {
  width: 80%;
  margin: auto;
  height: 350px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.footer h3 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.footer .brandCompany {
  width: 25%;
}

.footer .brandCompany img {
  width: 70%;
}

.footer .brandCompany p {
  text-align: left;
  padding-top: 12px;
  line-height: 1.8rem;
  font-size: 14px;
}

.footer .discover {
  width: 22%;
  margin-left: 3%;
}

.footer .discover p {
  padding-top: 12px;
  font-size: 14px;
}

.footer .ourservice {
  width: 22%;
  margin-left: 3%;
}

.footer .ourservice p {
  padding-top: 12px;
  font-size: 14px;
}

.footer .validation-form {
  width: 22%;
  margin-left: 3%;
}

.footer .validation-form p {
  padding-top: 12px;
  font-size: 14px;
}

.bottom-banner {
  display: flex;
  width: 100%;
  padding: 18px 140px;
  background-color: #010522;
  color: #FFF;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
  .footer .brandCompany,
  .footer .discover,
  .footer .ourservice,
  .footer .validation-form {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .footer .brandCompany img {
    width: 50%;
  }
  .bottom-banner {
    margin-top: 600px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    flex-direction: column;
  }
  .bottom-banner p {
    padding-top: 10px;
  }
}
